:root {
  --light-primary: #fffded;
  --dark-primary: #020402;
}

* {
  background-color: var(--dark-primary);
  color: var(--light-primary);
  font-family: 'Roboto';
}

main.home {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/waving-hand_1f44b.png'),
    auto;
}

main.home h1 {
  margin: 0;
  font-size: 3rem;
}

main.home h3 {
  text-align: center;
}

main.home svg.warning-icon {
  height: 3rem;
  width: 3rem;
  stroke: red;
}

main.home div.transaction-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.home .waveButton button {
  cursor: pointer;
  border-color: var(--light-primary);
  border-radius: 40px;
  padding: 5px 20px;
}

main.home .waves {
  margin-top: 2rem;
  max-height: 40rem;
  max-width: 40rem;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: 0.5rem;
  scrollbar-color: #fffded80;
}

main.home .waves::-webkit-scrollbar {
  width: 0.5rem;
}

main.home .waves::-webkit-scrollbar-track {
  background: #fffded80;
}

main.home .waves::-webkit-scrollbar-thumb {
  background-color: var(--dark-primary);
  border-radius: 1rem;
  border: 3px solid var(--light-primary);
}

.modal {
  background-color: var(--light-primary);
  border-radius: 0.5rem;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal input {
  width: 100%;
  padding: 10px;
  border-radius: 0.5rem;
  border-width: 1px;
  color: var(--dark-primary);
  background-color: var(--light-primary);
}

.modal button {
  margin-top: 0.5rem;
  width: 25%;
  border-radius: 0.5rem;
  border-width: 1px;
  padding: 5px 20px;
  cursor: pointer;
  color: var(--dark-primary);
  background-color: var(--light-primary);
}

.modal button:hover {
  color: var(--light-primary);
  background-color: var(--dark-primary);
}
